* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
  
}

.container{
  background: linear-gradient(to bottom,#cc0000, #ab2812, #800000);
  padding: 0;
  display: flex;
  justify-content:start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 150px;
}


.header{
  background-color: #d7d9d6;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin: 0;
  padding: 0;
}
.header img{
  width: 300px;
}


@media screen and (min-width: 992px) {
  .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
  }
}
